@import "tailwindcss";

:root {
  --background: #f8f5f0;
  --foreground: #2b2118;

  --primary: #8b5e3c;
  --primary-dark: #6f472c;

  --secondary: #d8b98b;

  --accent: #c28a2e;

  --card: #ffffff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-geist-sans), Arial, Helvetica, sans-serif;
}

section {
  scroll-margin-top: 90px;
}

a {
  transition: all .25s ease;
}

img {
  user-select: none;
}